.statistic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}
.statistic-content {
    padding: 0 15px;
}
.statistic-content > img {
    margin: 0 auto;
}
.statistics-card-container {
    width: 100%;
}
.statistics-card-ingresos {
    margin-bottom: 20px;
}
.card-ingresos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.card-ingresos-header h2 {
    font-size: 3rem;
}
.card-ingresos-header p {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 3px;
}
.statistics-card-ingresos img{
    width: 100%;
}
.card-ingresos-total p {
    font-size: 1.4rem;
    color: $border-color;
}
.card-ingresos-total h2 {
    display: inline-block;
    font-size: 2.4rem;
    margin-right: 5px;
}
.card-ingresos-total h3 {
    display: inline-block;
    font-size: 1.4rem;
    color: #4AAF05;
}
.statistics-card-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.statistics-card-circle h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 10px;
}
.statistics-card-circle img {
    margin-bottom: 10px;
}
.statistics-card-graphic {
    display: flex;
    justify-content: center;
}
.statistics-card-graphic p {
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .circle-card_container {
        display: flex;
        justify-content: center;
    }
    .statistics-card-circle {
        margin-left: 30px;
    }
}