* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-error404 {
  margin: 100px auto;
  width: 40%;
}
.main-error404 img {
  width: 300px;
}

@media (min-width: 768px) {
  .main-error404 {
    width: 50%;
  }
  .main-error404 img {
    width: 450px;
  }
}
@media (min-width: 1024px) {
  .main-error404 img {
    width: 600px;
  }
}
a {
  color: black;
  font-size: 2rem;
  margin-left: 10px;
}