* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-error404 img {
  margin: 100px auto;
  min-width: 360px;
  width: 50%;
}

a {
  color: black;
  font-size: 2rem;
  margin-left: 10px;
}