@import '../libs/colors';
@import '../libs/variables';
@import '../libs/mixins';

.main-dashboard {
    display: flex;
    aside {
        display: none;
        @include telefono {
            display: flex;
        flex: 0 0 20%;
        flex-direction: column;
        height: 100vh;
        }

        @media screen and (min-width: 768px) {
            height:unset;
        }
    }

    .facturaContent {
        display: flex;
        flex: 0 0 100%;
        flex-direction: column;
        overflow: hidden;
        @include telefono {
            display: flex;
            flex: 0 0 80%;
            flex-direction: column; 
            padding: 40px
        }

        @media screen and (min-width:768px) {
            flex: 0 0 100%;
        }

        @media screen and (min-width:1200px) {
            flex: 0 0 80%;
        }

        .generar {
            margin-top: 4rem;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 2rem;

            @include telefono {
                margin-top: 4rem;
                font-size: 22px;
                font-weight: bold;
                text-align: left;
            }

            @media screen and (min-width:768px){
                text-align: center;
            }

            @media screen and (min-width:1200px){
                text-align: unset;
            }
            
        }

        .cuadro {
            width: 80%;
            text-align: center;
            background-color: #F5F5F5;
            display: flex;
            flex-direction: row;
            padding: 2.5rem;
            border-radius: 20px;
            -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
            margin: 0 auto;
            justify-content: space-around;

            @include telefono {
                width: 60%;
                text-align: center;
                background-color: #F5F5F5;
                display: flex;
                flex-direction: column;
                padding: 2.5rem;
                border-radius: 20px;
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
                margin: unset;
            }

            @media screen and (min-width:768px) {
                width: 100%;
            }

            @media screen and (min-width:1200px){
                width: 40%;
            }
            img {
                width: 18%;
                display: flex;
                align-self: center;
                margin-bottom: 20px;
            }

            .botonFactura {
                width: 50%;
                display: flex;
                align-self: center;
                justify-content: center;
                border: none;
                padding: 1rem;
                background-color: white;
                border-radius: 20px;
                font-size: 18px;
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
                cursor: pointer;
            }
        }


        .historialFacturas {
            display: flex;
            flex-direction: column;
            margin-top: 6rem;
            padding: 2rem;

            .historial {
                font-size: 22px;
                font-weight: bold;
                text-align: center;

                @include telefono {
                    font-size: 22px;
                    font-weight: bold;
                    text-align: left;
                }

                @media screen and (min-width: 768px){
                    text-align: center;
                }

                @media screen and (min-width:1200px) {
                    text-align: unset;
                }
            }

            .contenidoTabla{
                display: flex;
                flex-direction: column;

                th {
                    text-align: left;
                }

                @include telefono {
                    display: flex;
                    flex-direction: row;
                }

                @media screen and (min-width:768px) {
                    flex-direction: column;
                }

                @media screen and (min-width:1200px) {
                    flex-direction: row;
                }
                
                .tablaFacturas::-webkit-scrollbar {
                    width: 4px!important; 
                    height: 0px!important;
                }
                .tablaFacturas::-webkit-scrollbar-track{
                    background: white;    
                }
                .tablaFacturas::-webkit-scrollbar-thumb{
                    border-radius: 20px;     
                    border: 3px solid gray;  
                }
                .tablaFacturas {
                    flex: 0 0 50%;
                    display: flex;
                    align-items: center;
                    overflow-y: auto;
                    height: 400px;

                    @media screen and (min-width:768px) {
                        align-self: center;
                    }

                }

                

                table {
                    width: 100%;

                    .imagenTabla {
                        width: 30%;
                    }

                    .tamanoFlecha {
                        width: 20px;
                    }

                    .ocultoMobil {
                        display: none;

                        @include telefono {
                            display: inline-block;
                            padding: 20px;
                        }
                    }
                }
               
              

                .imagenEstadisticas {
                    display: flex;
                    flex: 0 0 50%;
                    text-align: center;
                    flex-direction: column;

                    .cajitaMobil {
                        display: flex;
                        justify-content: center;
                        background-color: #F5F5F5;
                        width: 70%;
                        margin: 0 auto;
                        margin-top: 40px;
                        padding: 20px;
                        border-radius: 20px;

                        @include telefono{
                            flex-direction:column;
                        }
                        .estadisticaImagen {
                            width: 50%;
                            display: flex;
                            align-self: center;
                        }

                        .botonEstadisticas {

                            display: none;
    
                            @include telefono {
                                width: 50%;
                                display: flex;
                                align-self: center;
                                justify-content: center;
                                border: none;
                                padding: 1rem;
                                border-radius: 20px;
                                font-size: 18px;
                                -webkit-box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 75%);
                                -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
                                box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 75%);
                                cursor: pointer;
                                margin: 3rem;
                            }
                        }
                    }

                }
            }
        }
    }
}